.env
pubspec.lock
pubspec.lock
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/build_resolvers/sdk.sum
.dart_tool/build_resolvers/sdk.sum.deps
.dart_tool/flutter_build/dart_plugin_registrant.dart
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/.filecache
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/app.dill
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/debug_android_application.stamp
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/flutter_assets.d
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/kernel_snapshot.d
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/kernel_snapshot.stamp
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/outputs.json
.dart_tool/pub/bin/build_runner/build_runner.dart-3.3.0.snapshot
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/flutter_build/dart_plugin_registrant.dart
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/.filecache
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/app.dill
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/debug_android_application.stamp
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/flutter_assets.d
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/kernel_snapshot.d
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/kernel_snapshot.stamp
.dart_tool/flutter_build/a7a348f660f905d38b621838d37adf2f/outputs.json
